In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("instagram_reach.csv")

In [3]:
data.sample(5)

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
34,7,17,gsmusicgroupllc,gsmusicgroupllc#Repost @savageland32with @get_...,226,#youtube #applemusic #itunes#soundcloud #spinr...,2 hours,273
17,17,22,ale_borba,Let's talk about ML Kit for our Google Play Pa...,520,#MxPartnerDay #MLKit #machinelearning#android ...,4 hours,46
87,0,9,onlyonecoops,"Love coaching these boys! Hard working, dedica...",262,#grassroots #development#kidsplayingfootball #...,2 hours,9
18,18,23,amjstaffing,Shout out to #LinkedIn for the awesome lunch-n...,75,#engineer #machinelearning #automotive#automat...,4 hours,30
64,2,12,alpha_mentor_,Double TAP if you support this message & TAG w...,89,#mentoring #enterprenuership #grind#hustle #le...,2 hours,19

In [4]:
data.drop('Caption', axis=1, inplace=True)

In [5]:
data['Time since posted'] = data['Time since posted'].str.extract('(\d+)').astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Rishav\AppData\Local\Temp\ipykernel_23640\2562841274.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Time since posted'] = data['Time since posted'].str.extract('(\d+)').astype(int)

In [6]:
data.sample(5)

,Unnamed: 0,S.No,USERNAME,Followers,Hashtags,Time since posted,Likes
33,6,15,cryptocrackhead,610,#cryptocrackhead#blockchain#cryptocurrency #cr...,2,30
14,14,18,ansonmccade,2904,#blockchaintechnology #blockchains #tech#techn...,3,28
52,13,21,opensourcedworkplace,348,#HR #workplace#officedesign #iot #bigdata #off...,4,17
43,4,12,artificial_quotes,914,#quote #quotes #quoteoftheday#quoteoftheday #q...,2,81
24,24,28,data_enthusiast,166,#data_enthusiast #dataanalytics#datascientist ...,2,10

In [7]:
data.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [8]:
data.dropna(inplace=True)

In [9]:
data.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [10]:
X = data[['Followers', ]]
y_likes = data['Likes']
y_time_since_posted = data['Time since posted']

In [11]:
#Spliting data into train and test sets
X_train, X_test, y_likes_train, y_likes_test, y_time_train, y_time_test = train_test_split(X, y_likes, y_time_since_posted, test_size=0.2, random_state=42)

In [12]:
rf_likes = RandomForestRegressor()
rf_likes.fit(X_train, y_likes_train)
likes_predictions = rf_likes.predict(X_test)

rf_time = RandomForestRegressor()
rf_time.fit(X_train, y_time_train)
time_predictions = rf_time.predict(X_test)

In [13]:

likes_mse = mean_squared_error(y_likes_test, likes_predictions)
time_mse = mean_squared_error(y_time_test, time_predictions)

print("mean squared error of Likes:", likes_mse)
print("mean squared error of Time since posted:", time_mse)

mean squared error of Likes: 331.8962143944445
mean squared error of Time since posted: 4.961486497222222