# Question 1

In [ ]:
It will return the details corresponding to the ids 1 , 4 and 5 from runners table.


SELECT r.id, r.name FROM runners r LEFT JOIN races ra ON r.id = ra.winner_id WHERE ra.winner_id IS NULL;

# Question 2

In [ ]:
SELECT id FROM test_a a WHERE (SELECT COUNT(*) FROM test_b b WHERE b.id = a.id) = 0;

# Question 3

In [ ]:
SELECT u.user_id, username, training_id, training_date 
FROM users
INNER JOIN 
( SELECT user_id, training_id, training_date, COUNT(*) AS count 
FROM training_details
GROUP BY user_id, training_id, training_date 
HAVING COUNT(*) > 1 ) 
AS t ON u.user_id = t.user_id 
ORDER BY t.user_id, t.training_id, t.training_date DESC;

# Question 4